{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('frontend') }}
{% endblock %}

{% block body %}
    <div class="website">
        {{ include('website/header.html.twig') }}
        {{ include('website/alerts.html.twig') }}
        <main class="container p-0">
            {% block content %}{% endblock %}
        </main>
        {{ include('website/footer.html.twig') }}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('frontend') }}
{% endblock %}