{% extends 'website/base.html.twig' %}

{% block content %}
    <div class="p-5">
        <h1>{{ "This feature is not implemented."|trans }}</h1>
        <p>{{ "Please contact your system administration."|trans }}</p>
        <p>{{ "Contact page"|trans }} <a href="{{ url('contact') }}">{{ "contact"|trans }}</a>.</p>
    </div>
{% endblock %}
