<div class="container my-2 text-background">
    <div class="row col-lg-10 mx-auto">
        <div class="col-8 d-inline-block">
            <span class="timer">
                <span id="dater">{{ "now"|date('d-m-Y') }}</span> | <span id="clock"></span>
            </span>
            <img src="{{ asset("/img/mgorski.png") }}" class="phone-logo" alt="">
        </div>

        <div class="col-4 text-right text-background align-self-center">
            {% set localesArray = locales|split('|') %}
            {% for locale in localesArray %}
                <a href="{{ url('homepage',{'_locale':locale}) }}" class="">{{ locale }}</a> |
            {% endfor %}
            <a href="mailto:{{ email }}"><i class='fa fa-envelope mr-2 icon-con'></i></a>
        </div>
    </div>
</div>

<header class="my-0 col-12">
    <nav class="navbar navbar-expand-sm container text-uppercase navbar-light ">
        <a class="navbar-brand ml-1" href="{{ url('homepage') }}">
            <img src="{{ asset("/img/mgorski.png") }}" class="align-top mx-auto d-block" alt="">
        </a>

        <button type="button" data-toggle="collapse" data-target="#navbar"
                class="btn btn-lg bg-success navbar-toggler text-dark">
            <i class="fa fa-bars"></i>
        </button>

        <div class="collapse navbar-collapse" id="navbar">
            <ul class="navbar-nav mr-auto">
                {% for route,name in frontendManager.menu %}
                    <li class="nav-item mx-2">
                        <a class="link px-1 {{ app.request.attributes.get('_route') == name ? 'active' : ''}}"
                           href="{{ route }}">  {{ name|upper }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </nav>
</header>