<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description"
          content="MGórski.dev - tworzenie stron internetowych. Tworze aplikacje internetowe oraz mikroserwisy w oparciu o technologie Symfony, Vue, jQuery, Bootstrap 4.">
    <meta name="keywords" content="strony www, strony internetowe, aplikacje www, aplikacje internetowe">

    <title>{% block title %}MGórski.dev{% endblock %}</title>

    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
        <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('/build/favicon/apple-touch-icon.png') }}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ asset("/build/favicon/favicon-32x32.png") }}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ asset("/build/favicon/favicon-16x16.png") }}">
        <link href="https://fonts.googleapis.com/css?family=Fira+Sans" rel="stylesheet">
    {% endblock %}
</head>

<body id="page">
{% block body %}{% endblock %}
{% block javascripts %}{% endblock %}
{{ encore_entry_script_tags('app') }}
</body>
</html>
