<div class="alerts"></div>

<div class="input-group">
    <input type="password" class="form-control h-100 pin {{ entity.instance.usePin == false ? 'd-none' }}" placeholder="PIN">
    <button type="button" class="btn btn-primary show-password h-100 {{ entity.instance.usePin == false ? 'w-100' }}"
            data-url="{{ url('password') }}">
        {{ "Show"|trans }} {{ "password"|trans }}
    </button>
</div>

<div class="input-group d-none mt-1">
    <input class="form-control h-100" type="text" disabled>
    <button type="button" class="btn copy-password h-100">
        Copy password
    </button>
</div>
